.about {
    padding: 80px 0;
    background-color: rgb(226, 241, 247);
    box-shadow: 23px 34px 33px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.col-6 {
    width: 50%;
    padding: 9rem;

}

.col-3 {
    width: 25%;
    font-size: 30px;
    font-weight: 500;
}

.col-4{
    color: gray;
}

.about-img {
    width: 100%;
    overflow: hidden;
    padding-left: 34erm;
}

.about-img img {
    width: 40rem;
    height: 30rem;
    border-radius: 100%;
    background-color: aqua;
    
}

.about-container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.head{
    font-size: 5rem;
}
/* .w3-show-inline-block {
    padding: 0rem;
    margin: 2px;
    justify-content: space-around;
    justify-content:space-between ;
    margin-right: 1rem;
} */

.W3-btn-btn1 {
    margin-top: 35px;
    text-decoration: none;
    border: 3px solid;
    outline: none;
    color: rgb(43, 214, 236);
    font-weight: 700px;
    border-radius: 1rem;
    font-size: 12px;
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
}

.W3-btn-btn2 {
    padding-left: 2rem;
    /* margin-right: 8rem; */
    margin-left:10px;
    gap: 3px;
    margin-top: 35px;
    text-decoration: none;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 1rem;
    font-size: 1.7rem;
    padding: 20px 40px;
    background-color: rgb(63, 235, 106);
}

.about-container h3 {
    font-size: 30px;
    font-family: 'Trocchi', serif;
    font-weight: 500px;
    margin-top: 20px;
}

.about-container h1 {
    font-size: 50px;
    font-family: 'Lora', serif;
    font-weight: 900px;
    line-height: 80px;
    margin-top: 20px;
}

.about-container p {
    /* font-family: 'Averia Serif Libre', cursive; */
    color: rgb(2, 2, 2);
    /* line-height: 60px; */
    font-weight: 100px;
    margin-top: 20px;
}

