* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Asul', sans-serif;
  /* font-family: 'Average', serif
  font-family: 'Averia Serif Libre', cursive;
  font-family: 'Lora', serif;
  font-family: 'Tinos', serif;
  font-family: 'Trocchi', serif; */
}